<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<title> Jeffrey Leung </title>
		<img src="/Users/jleung/Downloads/Photo on 6-10-15 at 4.20 PM.jpg" alt="" width = "100" height = "100" >
	</head>
	<header>
		<h3> Jeffrey Leung </h3>
	</header>
	<body>
		<p> I am a freshman at UT Austin studying computer science. I am currently an Application Developer intern at Kalkomey. <br> <br>
			<a href="contact.txt">Contact Me</a> <br>
			<a href="resume.txt"> Resume</a> <br>
			<a href="https://github.com/jhleung">Github</a>
		</p>
	</body>
</html>